{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a href="/user/dashboard/admin/" class="list-group-item list-group-item-action active">Admin Dashboard</a>
      </div>
    </div>
    <div class="col-md-9">
      <div class="d-flex justify-content-end mb-3">
        <a href="/user/signout" class="btn btn-warning">Sign Out</a>
      </div>
      <div class="card mb-3 shadow-sm">
        <div class="card-header bg-primary text-white text-center">
          <h2 class="card-title mb-0">Admin Details</h2>
        </div>
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-4 text-end">
              <strong>ID:</strong>
            </div>
            <div class="col-8">
              {{ session['user']['_id'] }}
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-4 text-end">
              <strong>Name:</strong>
            </div>
            <div class="col-8">
              {{ session['user']['name'] }}
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-end">
              <strong>Email:</strong>
            </div>
            <div class="col-8">
              {{ session['user']['email'] }}
            </div>
          </div>
        </div>
      </div>
      <div class="card mb-3">
        <div class="card-body">
          <h2 class="card-title text-center">Geo</h2>
          <p>This application was created to improve our lives. Here you can give reviews, leave feedback, write about a specific problem, or provide useful information about any point on the map. All you need to do is register as a user and start creating valuable content.</p>
            <div class="text-center">
            <a href="https://iguana-devops.pp.ua" class="btn btn-primary">Go to Geo</a>
            </div>
        </div>
      </div>
    
      {% include "services.html" %}

      <div class="card">

        <h1 class="center blackfont">Delete All Database Records</h1>
        <p class="center">Caution, this will delete all data permanently!</p>

        <div class="center">
            <a href="/user/admin/delete_all" class="btn btn--attention"
            onclick="return confirm('Are you sure you want to Delete All Database Records?');"
            >Delete</a>
        </div>
      </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}