{% extends "base.html" %}

{% block content %}

<h1 class="center">Admin Dashboard</h1>

    <div class="card-wrapper">
        <div class="card">

            <h2 class="center">Your Info</h2>

            <p>
                <strong>ID:</strong> {{ session['user']['_id'] }}
                <strong>Name:</strong> {{ session['user']['name'] }}
                <strong>Email:</strong> {{ session['user']['email'] }}
            </p>
        </div>

        <div class="card">

            <h1 class="center blackfont">Admin Dashboard</h1>
            <p class="center">You are currently logged in.</p>

            <div class="center">
                <a href="/user/signout" class="btn btn--attention">Sign Out</a>
            </div>
        </div>

        <div class="card">

            <h1 class="center blackfont">Delete All Database Records</h1>
            <p class="center">Caution, this will delete all data permanently!</p>

            <div class="center">
                <a href="/user/admin/delete_all" class="btn btn--attention"
                onclick="return confirm('Are you sure you want to Delete All Database Records?');"
                >Delete</a>
            </div>
        </div>
    </div>
    <h1><strong>Messages:</strong></h1>
    <div class="field">
        

        {% for data in data_db %}
        <div><div>
            {% if data['status'] == 'accepted' %}
                <strong>ID:</strong>        {{ data['_id'] }}
                <strong>Ip:</strong>        {{ data['ip'] }}
                <strong>Status:</strong>    {{ data['status'] }}
                {% if data['name'] %}
                    <strong>Name:</strong>      {{ data['name'] }}
                    <strong>Message:</strong>   {{ data['data'] }}
                    <strong>Time:</strong>      {{ data['time'] }}
                {% endif %}
            {% elif data['status'] == 'declined' %}
                <strong>ID:</strong>        {{ data['_id'] }}
                <strong>Status:</strong>    {{ data['status'] }}
            {% endif %}
            <div>
            <a href="{{ url_for('admin_delete_record', id=data['_id']) }}" class="btn btn--attention">Delete</a>
            </div>
        </div></div>
        
        {% endfor %}
    </div>

{% endblock %}