{% extends "base.html" %}

{% block content %}

    <div class="card-wrapper-first">
        <div class="card">

            <h1 class="center blackfont">Log In</h1>

            <form name="login_form">

                <label for="name">Username/Email</label>
                <input type="text" name="name" class="field" required>

                <label for="password">Password</label>
                <input type="password" name="password" class="field" required>

                <p class="error error--hidden"></p>

                <div class="center">
                    <input type="submit" value="Log In" class="btn">
                    <a href="/user/registry" class="btn">Sign up</a>                
                </div>
            </form>
                
         
            
            
        </div>
            <div class="card-signup">
                <a href="/" class="btn btn--secondary center">Home</a>
            </div>
    </div>
{% endblock %}