<div class="card mb-3 shadow-sm">
  <div class="card-header bg-success text-white text-center">
    <h2 class="card-title text-white mb-0">GEO Application</h2>
  </div>
  <div class="card-body">
    <p>This application was created to improve our lives. Here you can give reviews, leave feedback, write about a specific problem, or provide useful information about any point on the map. All you need to do is register as a user and start creating valuable content.</p>
    <div class="text-center">
      <a href="https://iguana-devops.pp.ua/citizen" class="btn btn-primary">Go to Geo</a>
    </div>
  </div>
</div>

<div class="card mb-3 shadow-sm">
  <div class="card-header bg-success text-white text-center">
    <h2 class="card-title text-white mb-0">GOGS Application</h2>
  </div>
    <div class="card-body">
      <p>Gogs is a self-hosted Git service that provides easy and fast Git repository management.</p>
        <div class="text-center">
            <a href="https://gogs.iguana-devops.pp.ua" class="btn btn-primary">Go to Gogs</a>
        </div>
    </div>
  </div>